
.social-list {
    list-style: none;
    padding: 0; 
    margin: 0; 
    display: flex; 
}
  
.social-list li {
    margin-right: 10px; /* Space between items */
}
  
.social-list a {
    text-decoration: none; /* Remove underline */
    color: #ffffff; /* Default icon color */
    font-size: 30px; /* Set icon size */
    transition: color 0.3s; /* Smooth color transition on hover */
}
  
.social-list a:hover {
    color: #000000; /* Change color on hover */
}

#whatsapp :hover{
    color: #128C7E;
}

#linkedin :hover{
    color: #0a66c2;
}
#github :hover{
    color: black;
}

@media only screen and (min-width: 1000px) {
    
    .social-list a {
        font-size: 35px; /* Set icon size */
    }

}