
.social-list {
    list-style: none;
    padding: 0; 
    margin: 0; 
    display: flex; 
}
  
.social-list li {
    margin-right: 10px; 
}
  
.social-list a {
    text-decoration: none; 
    font-size: 30px;
    transition: color 0.3s; 
    color: var(--color-text);
}
  
.social-list a:hover {
    color: #000000; /* Change color on hover */
}

#whatsapp :hover{
    color: #128C7E;
}

#linkedin :hover{
    color: #0a66c2;
}
#github :hover{
    color: black;
}

@media only screen and (max-width: 1000px) {
    .social-list{
        justify-content: center;
    }
}