.project-container{
    background-color: rgba(0,0,0,0.6);
}

.carousel-image{
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0.5;
}
.carousel-caption{
    /* background-color: rgba(0,0,0,0.8); */
    padding: 30px;
    border-radius: 10px;
}

.ref-icon{
    font-size: 30px;
    padding: 10px;
}