.home{
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    height: 100%;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/* personal information */
.profile-img{
    margin-top: 50px;
}

.profile-img img{
    border:1px solid white;
    border-radius: 20px 20px 0 0;
    box-shadow: 5px 5px 20px #000;    width: 150px;
    height: 200px;
    object-fit: cover;
}

.intro-text{
    text-align: left;
    width: 60%;
    margin: 0 auto;
}

.intro-text .greeting{
    margin-left: -100px;
}

.positions-list-div{
    text-align: left;
}
.positions-list-div p{
    margin: 0;
}
.positions-list{
    float: right;
}

/* social media and contact method */
.social-contact{
    position: fixed;
    bottom: 1%;
    right: 2%;
}

.social-list{
    font-size: 30px;
}

/* skillset */
.skillsets{
    position: fixed;
    bottom:1%;
    left: 2%;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 20px;
}

.skillList{
    height: 200px;
    min-width: 300px;
    overflow-y: scroll;
}
/* width */
.skillsets::-webkit-scrollbar {
    display:none;
}

/* Track */
.skillsets ::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.skillsets::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.skillsets::-webkit-scrollbar-thumb:hover {
   background: #555; 
}

.searchSkill{
    text-align: left;
    display: relative;
    padding-bottom: 10px;
}
.skillset-tips{
    display: absolute;
    top: 0;
    right: 0;
}
.skillList{
    text-align: left;
}
.skillList ul li{
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    .home{
        text-align: center;
        width: 100%;
    }
    .intro-text{
        height: 300px;
    }
    .skillsets{
        position:static;
        width: 50%;
        max-height: 300px;
        margin: 0 auto;
    }
}