.caption-block{
    border-radius: 20px;
    padding: 4rem;
}

.vertical-timeline-element-date{
    padding: 4rem;
}
.vertical-timeline::before{
    background: rgba(0,0,0,0.05) !important;
}
@media screen and (max-width: 1000px) {
    .caption-block{
        padding: 20px;
    }
    .caption-block h3{
        font-size: 18px;
    }
    .caption-block h5{
        font-size: 15px;
    }
    .vertical-timeline-element-date{
        background-color: rgba(0,0,0,0);
    }
}