.home{
    margin: 0 auto;
    font-size: 18px;
    height: 100%;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.content{
    display: flex;
    justify-content: space-around;
}
/* personal information */
.profile-img{
    margin: 50px;
}

.profile-img img{
    border:2px solid white;
    border-radius: 10px; 
    box-shadow: 5px 5px 20px #000;    
    width: 200px;
    object-fit: cover;
}

.intro-text{
    margin: 0;
    padding: 40px 50px;
    text-align: center;
    width: 460px;
}

.intro-text p{
    text-align: left;
}

.positions-list-div{
    text-align: left;
}

.positions-list{
    float: right;
}
@media screen and (max-width: 1200px) {
    .home{
        text-align: center;
        width: 100%;
    }
    .page-name{
        display: none;
    }
    .content{
        flex-direction: column;
    }
    .intro-text{
        width: 100%;
    }
}