.container{
    background-color: rgba(0,0,0, 0.5);
    box-shadow: 5px 5px 20px #000;  
    border-radius: 20px;
    padding: 50px 0;
}

.about{
    padding: 0px  30px;
}
.details{
    padding: 20px 30px;
    text-align: left;
}

.positions-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.positions-list .imp-color{
    font-size: large;
}
.profile-img{
    box-shadow: 5px 5px 20px #000;
    width: 70%;
    border: 1px solid white; 
    object-fit: cover;
}

.button{
    margin: 10px 10px 0 0;
}

@media screen and (max-width: 1000px) {
    .profile-img{
        width: 100%;
        margin: 0;
    }
    .about{
        padding: 0;
    }
    .details{
        padding: 20px 50px;
        margin-top: -100px;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50px;
    }
}